*.iml
.gradle
/local.properties
/.idea/caches
/.idea
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
*/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.ear
*.log
*.DS_Store
*.hprof
*.zip
*.tar
*.gz
*.tgz
*.7z
*.rar
*.keystore
*.jks
*.db
*.db-journal
*.user
*.sublime-workspace
*.sublime-project
Thumbs.db
ehthumbs.db
*.kotlin_metadata
*.kotlin_module
gradle-wrapper.jar
gradle-wrapper.properties
yolov3.weights